
body{
    background-color: rgb(243,244,246);
  }
  
  .container{
    height: auto;
    
  }
  .error-showing-popup{
    width: auto;
    height: auto;
   background-color: white;
   border-radius: 10px;
   color: red;
   margin-top: 6px;
   padding-top: 5px;
   padding-bottom: 5px;
  justify-content: center;
   align-items: center;
   display: flex;
  
  }
  
  .button{
    background-color: rgb(31 41 55);
    margin-right: 10px;
    height:35px;
    width:90px;
    color:white;
       border-radius: 10px;
  }
  
  .button:hover{
    background-color: rgb(55 65 81);
  }
  .errorlist{
    color: red;
    padding-top: 10px;
  }
  
  .errorlist li{
    margin-left: 50px;
    list-style: none;
  }