.li {
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 600px;
    color: rgb(77, 88, 100);
    padding-left: 10px;
    transition: 0.3s ease-in-out;
    list-style: none;
    padding: 0 10px;
    position: relative;
    padding: 1px;
  }


.li a.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: blue;
    position: absolute;
    bottom: -20px;
    left: 0px;
  }
  @media (max-width: 600px) {
    .li a.active::after {
      content: "";
      width: 50%;
      height: 2px;
      background: blue;
      position: absolute;
      bottom: -10px;
      left: 0px;
    }
  }
  
  .container{
    padding-bottom: 10%;
     background-color: #f1f5f9;
   
   }